<h1>List Articles </h1>
<table>
  <tr>
    <td>Title</td>
    <td>Description</td>
  </tr>    
<% @articles.each do |article| %>
  <tr>
  <td> <%= article.title %> </td>
  <td> <%= article.description %> </td>
  <td>Show</td>
  </tr>
<% end %>
</table>	
